@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --white: #fff;
  --almostwhite: #fbfbfb;
  --darkblue: #435d7d;
  --darkerblue: #25303c;
  --almostblack: #151617;
  --black: #000;
  --darkgray: #1c1e21;
  --moon: url(../assets/icon-moon.svg);
  --sun: url(../assets/icon-sun.svg);
  --darkgreen: #2b7b2b;
  --lightgreen: rgb(11, 211, 11);
}

.light {
  --main-text: var(--black);
  --headerbg: var(--darkblue);
  --bg: var(--almostwhite);
  --elbg: var(--white);
  --theme: var(--sun);
  --add-btn: var(--lightgreen);
}

.dark {
  --main-text: var(--white);
  --headerbg: var(--darkerblue);
  --bg: var(--almostblack);
  --elbg: var(--darkgray);
  --theme: var(--moon);
  --add-btn: var(--darkgreen);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  padding: 0 5%;
  background-color: var(--headerbg);
}

@media (min-width: 768px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  header {
    padding: 0 15%;
  }
}

header h1 {
  cursor: pointer;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
  margin-right: auto;
}

header h1 span {
  font-weight: 600;
}

header .theme-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 1rem;
}

header .theme-container p {
  color: #fff;
  display: none;
}

@media (min-width: 768px) {
  header .theme-container p {
    display: block;
    margin-left: 0.5rem;
  }
}

header .theme-container span {
  color: #fff;
  width: 25px;
  height: 25px;
  background-image: var(--theme);
  background-position: center center;
  background-size: 100% 100%;
}

@media (min-width: 768px) {
  header .theme-container span {
    width: 15px;
    height: 15px;
  }
}

.add-btn {
  color: #fff;
  background-color: var(--add-btn);
  border: none;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  border-radius: 50%;
  margin-left: auto;
}

@media (min-width: 550px) {
  .add-btn {
    border-radius: 10px;
  }
}

@media (min-width: 768px) {
  .add-btn {
    display: none;
  }
}

.add-btn:hover {
  background-color: green;
}

.add-btn span {
  font-size: 0;
}

@media (min-width: 550px) {
  .add-btn span {
    font-size: 1rem;
    margin-left: 1rem;
  }
}

:root {
  --white: #fff;
  --almostwhite: #fbfbfb;
  --darkblue: #435d7d;
  --darkerblue: #25303c;
  --almostblack: #151617;
  --black: #000;
  --darkgray: #1c1e21;
  --moon: url(../assets/icon-moon.svg);
  --sun: url(../assets/icon-sun.svg);
  --darkgreen: #2b7b2b;
  --lightgreen: rgb(11, 211, 11);
}

.light {
  --main-text: var(--black);
  --headerbg: var(--darkblue);
  --bg: var(--almostwhite);
  --elbg: var(--white);
  --theme: var(--sun);
  --add-btn: var(--lightgreen);
}

.dark {
  --main-text: var(--white);
  --headerbg: var(--darkerblue);
  --bg: var(--almostblack);
  --elbg: var(--darkgray);
  --theme: var(--moon);
  --add-btn: var(--darkgreen);
}

main {
  width: 90%;
  margin: 1rem auto;
}

@media (min-width: 1440px) {
  main {
    width: 70%;
  }
}

main .input-button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

main .input-button-container input {
  color: var(--main-text);
  background-color: var(--elbg);
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  border: 1px solid #435d7d;
  outline: none;
}

main .input-button-container input:focus {
  border: 1px solid #0bd30b;
}

@media (min-width: 768px) {
  main .input-button-container input {
    width: 50%;
  }
}

@media (min-width: 1360px) {
  main .input-button-container input {
    width: 25rem;
  }
}

main .input-button-container .add-btn {
  height: 2.5rem;
  display: none;
}

@media (min-width: 768px) {
  main .input-button-container .add-btn {
    display: block;
  }
}

main .list-container {
  background-color: var(--elbg);
  border-radius: 10px;
  padding: 0 1rem 1rem 1rem;
}

main .list-container .list-item {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  -webkit-animation: employee-animation 0.3s ease forwards;
          animation: employee-animation 0.3s ease forwards;
  height: 5rem;
  border-bottom: 1px solid rgba(67, 93, 125, 0.2);
}

@media (min-width: 768px) {
  main .list-container .list-item {
    -ms-grid-columns: 90% 10%;
        grid-template-columns: 90% 10%;
  }
}

@media (min-width: 1360px) {
  main .list-container .list-item {
    -ms-grid-columns: 92% 8%;
        grid-template-columns: 92% 8%;
  }
}

main .list-container .list-item h3 {
  color: #435d7d;
  text-transform: capitalize;
  font-weight: 600;
}

main .list-container .list-item h3:nth-child(2) {
  display: none;
}

@media (min-width: 768px) {
  main .list-container .list-item h3:nth-child(2) {
    display: block;
  }
}

main .list-container .list-item h3:nth-child(4) {
  display: none;
}

@media (min-width: 1360px) {
  main .list-container .list-item h3:nth-child(4) {
    display: block;
  }
}

main .list-container .list-item h3:last-child {
  text-align: end;
}

@media (min-width: 1024px) {
  main .list-container .list-item h3:last-child {
    text-align: center;
  }
}

main .list-container .header-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 30% 30%;
      grid-template-columns: 40% 30% 30%;
}

@media (min-width: 550px) {
  main .list-container .header-list {
    -ms-grid-columns: (42.5%)[2] 15%;
        grid-template-columns: repeat(2, 42.5%) 15%;
  }
}

@media (min-width: 768px) {
  main .list-container .header-list {
    -ms-grid-columns: 22.5% 35% 27.5% 15%;
        grid-template-columns: 22.5% 35% 27.5% 15%;
  }
}

@media (min-width: 1024px) {
  main .list-container .header-list {
    -ms-grid-columns: 22.5% 35.5% 30% 12.5%;
        grid-template-columns: 22.5% 35.5% 30% 12.5%;
  }
}

@media (min-width: 1360px) {
  main .list-container .header-list {
    -ms-grid-columns: 18% 28% 28% 18% 8%;
        grid-template-columns: 18% 28% 28% 18% 8%;
  }
}

main .list-container .item {
  cursor: pointer;
}

main .list-container .item h3 {
  color: var(--main-text);
  font-weight: 400;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .list-container .item .item-info {
  height: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

@media (min-width: 768px) {
  main .list-container .item .item-info {
    -ms-grid-columns: 25% 40% 35%;
        grid-template-columns: 25% 40% 35%;
  }
}

@media (min-width: 1024px) {
  main .list-container .item .item-info {
    -ms-grid-columns: 25% 40% 35%;
        grid-template-columns: 25% 40% 35%;
  }
}

@media (min-width: 1360px) {
  main .list-container .item .item-info {
    -ms-grid-columns: 20% 30% 20% 30%;
        grid-template-columns: 20% 30% 20% 30%;
  }
}

main .list-container .item .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 550px) {
  main .list-container .item .actions {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

main .list-container .item .actions button {
  border: none;
  background: none;
  cursor: pointer;
}

main .list-container .item .actions .fa-pencil-alt {
  color: orange;
  font-size: 1.2rem;
  pointer-events: none;
}

main .list-container .item .actions .fa-trash {
  color: red;
  font-size: 1.2rem;
  pointer-events: none;
}

@-webkit-keyframes employee-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes employee-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.button-back-box {
  margin: 1.5rem 0 0 5%;
}

.button-back-box button {
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  color: #435d7d;
  background: none;
}

.details-container {
  width: 90%;
  margin: 1.5rem auto 0 auto;
  background-color: var(--elbg);
  padding: 1.5rem 1rem 1rem 1rem;
  border-radius: 10px 10px 0 0;
}

.details-container h2 {
  margin-bottom: 2rem;
  text-align: center;
  color: #435d7d;
}

.details-container .info-box {
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(67, 93, 125, 0.3);
}

.details-container .info-box:last-child {
  border: none;
  margin-bottom: 0;
}

.details-container .info-box h3 {
  color: #435d7d;
  font-size: 1.3rem;
  font-weight: 600;
}

.details-container .info-box p {
  color: var(--main-text);
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-weight: 400;
}

.details-buttons {
  width: 90%;
  margin: 0 auto 2rem auto;
}

.details-buttons button {
  cursor: pointer;
  border-radius: 0 0 10px 0;
  border: none;
  font-size: 1.2rem;
  width: 50%;
  padding: 0.75rem 0;
  background-color: #e43c3c;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.details-buttons button:hover {
  background-color: red;
}

.details-buttons button:first-child {
  border-radius: 0 0 0 10px;
  background-color: var(--add-btn);
}

.details-buttons button:first-child:hover {
  background-color: green;
}

.form-container {
  width: 90%;
  margin: 1.5rem auto 2rem auto;
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: var(--elbg);
  border-radius: 10px 10px;
}

@media (min-width: 1440px) {
  .form-container {
    width: 70%;
  }
}

.form-container h2 {
  text-align: center;
  color: #435d7d;
  margin-bottom: 2rem;
}

.form-container form .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.form-container form .input-box label {
  color: #435d7d;
  font-weight: 500;
  font-size: 1.2rem;
}

.form-container form .input-box .labelerror {
  color: #e43c3c;
  position: relative;
}

.form-container form .input-box .labelerror::after {
  content: "Can't be empty";
  position: absolute;
  right: 0;
}

.form-container form .input-box input {
  background-color: var(--bg);
  color: var(--main-text);
  width: 100%;
  font-size: 1.1rem;
  padding: 0 1rem;
  outline: none;
  margin-top: 1rem;
  height: 3rem;
  border-radius: 10px;
  border: 1px solid #435d7d;
}

.form-container form .input-box .formerror {
  border: 2px solid #e43c3c;
}

.buttons {
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .buttons {
    width: 70%;
  }
}

.buttons button {
  cursor: pointer;
  width: 50%;
  border: none;
  background-color: #e43c3c;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.75rem 0;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  border-radius: 0 0 0 10px;
}

.buttons button:hover {
  background-color: red;
}

.buttons button:last-child {
  border-radius: 0 0 10px 0;
  background-color: var(--add-btn);
}

.buttons button:last-child:hover {
  background-color: green;
}

.empty-container h2 {
  color: #435d7d;
  text-align: center;
  padding: 5rem 0;
}

@-webkit-keyframes modal-animation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes modal-animation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.modal-container {
  position: absolute;
  width: 80%;
  background-color: var(--elbg);
  z-index: 3;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  -webkit-animation: modal-animation 0.5s ease forwards;
          animation: modal-animation 0.5s ease forwards;
}

@media (min-width: 768px) {
  .modal-container {
    width: 50%;
  }
}

@media (min-width: 1360px) {
  .modal-container {
    width: 40%;
  }
}

@media (min-width: 1440px) {
  .modal-container {
    width: 30%;
  }
}

.modal-container .message {
  padding: 1.5rem;
}

.modal-container .message h1 {
  color: #435d7d;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.modal-container .message p {
  color: var(--main-text);
  font-size: 1.1rem;
  text-align: center;
}

.modal-container .modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-container .modal-buttons button {
  padding: 0.5rem 1.75rem;
  border: none;
  background-color: #e43c3c;
  color: #fff;
  font-size: 1rem;
  width: 50%;
  font-weight: 500;
  font-size: 1.2rem;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  cursor: pointer;
  border-radius: 0 0 0 10px;
}

.modal-container .modal-buttons button:hover {
  background-color: red;
}

.modal-container .modal-buttons button:last-child {
  background-color: var(--add-btn);
  border-radius: 0 0 10px 0;
}

.modal-container .modal-buttons button:last-child:hover {
  background-color: green;
}

.bg-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: background 0.3s ease, color 0.5s ease;
  transition: background 0.3s ease, color 0.5s ease;
}

body {
  background-color: var(--bg);
}
/*# sourceMappingURL=app.css.map */